*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f1faee;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #1d3557;
  font-size: 1.8rem;
  padding: 2rem;
  position: relative;
}

h1 {
  font-size: 4.5rem;
  margin: 0;
  font-weight: 100;
  white-space: nowrap;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin-top: 5rem;
}

.img-forground {
  width: 30rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-greeting {
  text-transform: uppercase;
}

.intro .first-name, .intro .intro-role {
  color: #457b9d;
}

.intro .intro-description {
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.intro-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4rem;
}

.btn {
  padding: 1.2rem 3.2rem;
  background-color: #e63946;
  color: #f1faee;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #ec6670;
}

.btn a {
  text-decoration: none;
  color: #f1faee;
}

.social-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: #457b9d;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.icon:hover {
  fill: #81acc7;
}

.linkedin {
  height: 2.5rem;
}

.github {
  height: 2.8rem;
}

.instagram {
  width: 3.2rem;
  height: 3.2rem;
}

.side-heading .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.side-heading .about-me h2 {
  font-size: 3.2rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about {
  max-width: 1366px;
  margin: 0 auto;
}

.aboutme-container {
  margin-top: 10rem;
  padding: 3rem 5rem;
  background-color: rgba(168, 218, 220, 0.4);
  border-radius: 30px;
  -webkit-box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
          box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
}

.aboutme-container .aboutme-description {
  line-height: 2.2;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 2.4rem;
}

.skills, .projects {
  width: 100%;
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills-container, .projects .skills-container {
  margin-top: 10rem;
  max-width: 1366px;
  background-color: rgba(168, 218, 220, 0.4);
  border-radius: 30px;
  padding: 4rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 3rem;
  -webkit-box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
          box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
}

.skills .skill, .projects .skill {
  width: 10rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 1rem;
  border-radius: 2rem;
  gap: 1.2rem;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.5);
          box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.5);
  -webkit-transition: -webkit-box-shadow 0.15s;
  transition: -webkit-box-shadow 0.15s;
  transition: box-shadow 0.15s;
  transition: box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.skills .skill:hover, .projects .skill:hover {
  -webkit-box-shadow: 0 15px 50px -20px rgba(29, 53, 87, 0.6);
          box-shadow: 0 15px 50px -20px rgba(29, 53, 87, 0.6);
}

.skills .skill .icon, .projects .skill .icon {
  width: 5rem;
  height: 5rem;
}

.projects .projects-container {
  margin-top: 10rem;
  max-width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(168, 218, 220, 0.4);
  border-radius: 30px;
  padding: 6rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -webkit-box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
          box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
}

.projects .project {
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  -webkit-transition: -webkit-box-shadow 0.15s;
  transition: -webkit-box-shadow 0.15s;
  transition: box-shadow 0.15s;
  transition: box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.projects .project:hover {
  -webkit-box-shadow: 0 15px 50px -20px rgba(29, 53, 87, 0.6);
          box-shadow: 0 15px 50px -20px rgba(29, 53, 87, 0.6);
}

.projects .project h3 {
  margin-top: 1rem;
  font-size: 2.5rem;
  color: #457b9d;
  font-weight: bold;
}

.projects .project img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.projects .project img:hover {
  opacity: 0.6;
}

.contact {
  margin: 0 auto;
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20rem;
  max-width: 1366px;
}

.contact .container {
  width: 100%;
}

.contact .contact-container {
  margin-top: 10rem;
  background-color: rgba(168, 218, 220, 0.4);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 2rem;
  padding-bottom: 5rem;
  gap: 4rem;
  max-width: 1366px;
  -webkit-box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
          box-shadow: 0 15px 50px -30px rgba(29, 53, 87, 0.25);
}

.contact .contact-container h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3.6rem;
  font-weight: normal;
  color: #457b9d;
  margin-left: 3rem;
  margin-top: 2rem;
}

.contact .contact-container .details {
  max-width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact-container .email, .contact .contact-container .call {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.15s;
  transition: -webkit-box-shadow 0.15s;
  transition: box-shadow 0.15s;
  transition: box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.contact .contact-container .email:hover, .contact .contact-container .call:hover {
  -webkit-box-shadow: 0 15px 50px -20px rgba(29, 53, 87, 0.3);
          box-shadow: 0 15px 50px -20px rgba(29, 53, 87, 0.3);
}

.contact .contact-container .email .icon-box, .contact .contact-container .call .icon-box {
  background-color: rgba(10, 207, 131, 0.1);
  padding: 2rem 2.5rem;
  border-radius: 10px;
}

.contact .contact-container .email .icon-box .icon, .contact .contact-container .call .icon-box .icon {
  fill: #0acf83;
}

.contact .contact-container .email a, .contact .contact-container .call a {
  color: #1d3557;
  text-decoration: none;
  border-bottom: 1px solid #1d3557;
  padding-bottom: 0.2rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.contact .contact-container .email a:hover, .contact .contact-container .call a:hover {
  color: #e63946;
  border-bottom: 1px solid #e63946;
}

.contact .contact-container .call .icon-box {
  background-color: rgba(31, 156, 240, 0.1);
}

.contact .contact-container .call .icon-box .icon {
  fill: #1f9cf0;
}

.contact .contact-container .call .num {
  color: #1d3557;
}

.contact .contact-container span {
  font-size: 1.6rem;
  color: #457b9d;
}

.footer {
  margin-top: 10rem;
  padding: 3rem;
  background-color: rgba(168, 218, 220, 0.4);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer .copyright {
  padding: 3rem;
}

@media screen and (min-width: 768px) {
  h1 {
    white-space: normal;
  }
  .header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 100vh;
    margin-top: 0;
  }
  .intro {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .intro .intro-description {
    text-align: left;
  }
  .intro-social {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .aboutme-container {
    padding: 6rem 10rem;
  }
  .skills .skills-container, .projects .skills-container {
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
  }
  .projects .project h3 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .img-forground {
    width: 40rem;
  }
  .header-container {
    gap: 9.2rem;
    padding-left: 10rem;
  }
  .intro-description {
    max-width: 50ch;
  }
}

@media screen and (max-width: 576px) {
  .intro-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills .skills-container, .projects .skills-container {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    padding: 3rem 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */