@import './variables';

html {
  font-size: 62.5%;
}
body {
  background-color: $background-color;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: $body-color;
  font-size: 2rem;
}

h1 {
  font-size: 4.8rem;
}
